@tailwind base;
@tailwind components;
@tailwind utilities;

#edyoda{
    background: -webkit-linear-gradient(45deg, #0048FF, #0096FF 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.active-tab {
    background-color: #D7EDDD;
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin-right: 6px;
    width: 514px;
    cursor: pointer;
    border: 4px solid green;
    border-radius: 8px;
    margin-left: 42px;
    #check-circle{
        color: green;
    }
  }
  /* .active-tab:hover {
    background-color: rgb(30 64 175);
    color: white;
    font-weight: 500;
    font-size: 38px;
    margin-right: 6px;
    width: 240px;
    cursor: pointer;
    border: 4px solid green;
    border-radius: 8px;
  } */
  .tabs {
    background-color: inherit;
    color: black;
    border: 2px solid gray;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 2.5rem;
    margin-left: 42px;
    margin-right: 42px;
    #check-circle{
        color: white;
        border: 2px solid black;
        border-radius: 50px;
        font-size: 25px;
    }
  }
  .content{
      visibility: hidden;
      font-size: 18px;
  }
  .active-content{
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
      transition-property: all;
      visibility: visible;
      font-size: 18px;
  }